@charset "UTF-8"; 

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #6068f5;
    --cor1: #585FE1;
    --cor2: #141EDB;
    --cor3: #0F17A8;
    --cor4: #080C5C;
    --cor5: #24275C;
}

body {
    
}

header {
    position: relative;
    background-color: black;    
    height: 100px;
    
}

img {    
    height: 110px;
    width: 110px;
}

header > span {
    position: absolute;
    color: white;
    right: 30px;
    top: 70px;
    
    
}

section {
    position: relative;
    
}

section.pesquisar {
    margin: auto;
    background-color: white;   
    border-bottom: 5px solid rgb(182, 182, 182);   
    
    
}

section.pesquisar > h1 {    
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.438);
}

div {
    text-align: right;
    margin-right: 10px;    
}



input {
    border: 1px solid var(--cor5);
    border-radius: 20px;
    height: 30px;
    text-align: center;    
    margin-bottom: 20px;
}

input#icursos {
    width: 300px;
}

input.lupa {
    height: 30px;
    width: 30px;
}

section {
    text-align: justify;
    margin: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.356);
}

section#pratica {  
    position: relative;  
    margin: auto;
    margin-top: 30px;    
    background-color: white; 
    height: 300px;    
    border: 1px solid var(--cor0);   
}

section#pratica h2 {
    font-size: 1.2em;
}

div.img {     
    position: absolute;           
    background: url(../imagens/designer-pratica.png) no-repeat center bottom;
    background-size: cover;
    left: 20px;
    height: 60%;
    width: 90vw;  
    border-radius: 10px 10px 0px 0px;  
    
}

div.info {      
    position: absolute;    
    width: 90vw;
    background-color: var(--cor5);
    height: 40%;
    left: 20px;
    border-radius: 0px 0px 10px 10px;    
    bottom: 0px;  
    color: white;     
}

div.info > h3 {
    padding: 10px;
    text-align: start;
}

div.info > p {
    padding-left: 20px;
    text-align: start;
}

div.info > a {   
    text-align: center;
    border-radius: 20px;  
    background-color: white;
    color: #080C5C;
    text-decoration: none;
    position: absolute; 
    padding: 5px; 
    width: 100px;
    bottom: 10px;
    right: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.425);
}

div.info > a:hover{
    background-color: var(--cor1);
    color: white;
    border: 1px solid white;    
}
